. {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.top {
    position: fixed;
    height: auto;
    width: 100%;
    display: flex;
    z-index: 9999;
    flex-direction: row;
    background-color: white;
    justify-content: flex-start;
    align-items: center;
    top: 0;
    right: 0;
}

.right {
    position: relative;
    align-items: center;
    display: inline-flex;
    flex-direction: row;
    left: 500px;
}

.right > figure {
    margin: 0 5px;
}


.top > figure {
    width: auto;
    position: relative;
    height: auto;
}

.top > figure > img {
    width: 100px;
    height: 40px;
}

.search {
    width: auto;
    height: auto;
}

.search > img {
    position: relative;
    width: 24px;
    height: 24px;
    z-index: 2;
    top: 8px;
    right: 50px;
}

.search > input[type=text] {
    width: 600px;
    height: 50px;
    border-radius: 50px;
    border: 1px lightgrey solid;
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: black;
    line-height: 34px;
    text-indent: 20px;
}

.search input[type=text]:hover {
    box-shadow: grey 2px 2px 5px 2px;
}

.search input[type=text]:focus {
    box-shadow: grey 2px 2px 5px 2px;
    outline: none;
}

.resultspage {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    grid-template-areas: "header"
                         "main"
                         "footer";
    position: relative;
    top: 60px;
}

header {
    width: auto;
    height: auto;
    position: relative;
    border-bottom: lightgrey solid 1px;
}

.mainnav {
    display: inline-flex;
    position: relative;
    align-items: center;
    left: 140px;
}

ul {
    list-style-type: none;
    margin-right: 15px;
}

li {
     display: inline-block;
     margin-right: 20px;
     font-size: 14px;
     color: #5F6368;
}

main {
    display: grid;
    grid-template-rows: 50px repeat(6, 130px);
    grid-template-columns: 100%;
    position: relative;
    color: #444;
    padding: 0;
    margin: 0;
}

.speed {
    position: relative;
    left: 175px;
}

.results, .featured {
    position: relative;
    left: 160px;
}

.speed {
   color: #5F6368;
   font-size: 14px;
   grid-row: 1 / span 1;
}

.featured {
    grid-row: 2 / span 1;
    font-size: 16px;
    width: 638px;
    height: 130px;
    align-self: center;
    border: solid 1px lightgrey;
    border-radius: 5px;
}

.featured > p, .featured > a, .results > span > p, .featured > span > p, .results > p, .results > a {
    margin-left: 10px;
}

.results {
    width: 638px;
    align-self: end;
}

.results > p {
    position: relative;
    bottom: 10px;
    margin-bottom: 0px;
}


.featured > a {
    position: relative;
    bottom: 5px;
    margin-bottom: 0;
    text-decoration: none;
}

.featured > a:hover {
    text-decoration: underline;
}

.results > span > p, .featured > span > p {
    font-size: 14px;
    color: #006621;
}

.featured > span > p {
    margin-top: 0;
    bottom: 5px;
}

.results > span > p {
    margin-top: 5px;
}

.results .one {
    grid-row: 3 / span 1
}

.results .two {
    grid-row: 4 / span 1
}

.results .three {
    grid-row: 5 / span 1
}

.results .four {
    grid-row: 6 / span 1
}

.results .five {
    grid-row: 7 / span 1
}


footer {
    display: grid;
    grid-template-rows: 40px 40px;
    grid-template-columns: 100%;
    grid-template-areas: "location"
                         "bottombar";
    position: relative;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
}

.location {
    display: inline-flex;
    position: relative;
    font-size: 15px;
    color: #5F6368;
    left: 175px;
    grid-row-start: 1 / span 1;
}

.left {
    grid-row-start: 2 / span 1;
    font-size: 13px;
    color: #5F6368;
    left: 175px;
    position: relative;
    display: flex;
    align-items: center;
}

.left > a {
    margin-right: 15px;
}
