. {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

.top, .right {
    position: fixed;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    left: 0;
}

.top {
    justify-content: flex-start;
    z-index: 9999;
    top: 0;
    right: 0;
}

.right {
    justify-content: flex-end;
    z-index: 9998;
    align-items: center;
    top: 15px;
    right: 10px;
}

.top > figure {
    width: auto;
    height: auto;
}

.top > figure > img {
    width: 100px;
    height: 40px;
    position: relative;
    left: -10px;
    display: inline-block;
}

.search {
    position: relative;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    width: auto;
    height: auto;
    right: 25px;
    top: 10px;
}

.search > img {
    position: relative;
    width: 24px;
    height: 24px;
    z-index: 2;
    top: 11px;
    right: 35px;
}

.search > input[type=text] {
    position: relative;
    width: 600px;
    height: 50px;
    border-radius: 50px;
    border: 1px lightgrey solid;
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: black;
    line-height: 34px;
    text-indent: 20px;
}

.search input[type=text]:hover {
    box-shadow: grey 2px 2px 5px 2px;
}

.search input[type=text]:focus {
    box-shadow: grey 2px 2px 5px 2px;
    outline: none;
}

.right > figure {
    margin: 0 5px;
}


.resultspage {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    grid-template-areas: "header"
                         "main"
                         "footer";
    position: relative;
    top: 60px;
}

header {
    width: auto;
    height: auto;
    position: relative;
    border-bottom: lightgrey solid 1px;
}

.mainnav {
    display: inline-flex;
    position: relative;
    align-items: center;
    left: 140px;
}

ul {
    list-style-type: none;
    margin-right: 15px;
}

li {
     display: inline-block;
     margin-right: 20px;
     font-size: 14px;
     color: #5F6368;
}

main {
    position: relative;
    background: whitesmoke;
    color: #444;
    padding: 1rem;
}

main > p {
   position: relative;
   color: #5F6368;
   font-size: 14px;
   left: 162px;
   bottom: 18px;
}

footer {
    position: relative;
    background-color: blue;
    padding: 1rem;
}
